*{padding: 0; margin: 0;}
body{font-family: Arial; min-width: 500px; }
a{text-decoration: none; color: #FFFFFF; text-decoration: none;}
li{list-style: none;}

/* Heder */
#first_page_bg{
    width:100%;
    height: 70%;
    background: #2277ae;
    header{
        width: 65%;
        margin: 0 auto 0 auto;
        .up_menu_links{
            display: flex;
            justify-content: space-between;
           padding: 2% 0 0 0;
            .social_link{
                width: 30%;
                a{
                   
                    img{
                        width: 7%;
                    }
                    margin: 0 3% 0 3%;
                }
            }
            .email_heder{
                 width: 30%;
                margin: 0 1.5% 0 0;
                a{
                    // display: flex;
                    .email_icon{
                        // width: 15%;
                        // width: 100%;
                        img{
                            width: 100%;
                            // position: absolute;
                            margin: 0 0 0 -2%;
                            // height: 100%;
                        }
                    }
                    div{
                        margin: 0.3% -2% 0 15%;
                        font-size: 1.0vw;
                    }
                }
            }
        }
        menu{
            margin:2% 0 5% 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .logo{
                width: 30%;
                display: flex;
                height: 100%;
                img{
                   width: 100%;
                //    height: 100%;
                //    margin: 5% 0 0% 0;
                }
                .company_name{
                    margin: auto;
                    margin: 0% 0 0 5%;
                    // height: 90%;
                    padding: 0 0 0 5%;
                    border-left: #FFFFFF 1px solid;
                    font-size: 2.5vw;
                    // height: 100%;
                    display: table;
                    a{
                        vertical-align: middle;
                    }
                }
            }
            .menu_heder{
                padding: 1.2% 0 0 0;
                width: 53%;
                display: flex;
                justify-content: space-between;
                div{
                    display: table;
                    a{
                        font-size: 1.2vw;
                        vertical-align: middle;
                        
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
/*Heder end*/

/*Page*/
#page_item_content{
    height: 100%;
    .page_title{
        width: 65%;
        display: flex;
        margin: 2% auto 0 auto;
        justify-content: space-between;
        .page_name{
            font-size: 2.5vw;
            font-weight: bold;
        }
        .page_link{
            font-size: 1.5vw;
            width: 22%;
            text-align: right;
            a{
                padding: 0 0 0 5%;
                color: #2277ae;
                text-decoration: underline;
            }
            a:hover{
                text-decoration: none;
            }
        }
    }
    .page_description{
        width: 65%;
        display: flex;
        margin: 2% auto 0 auto;
        justify-content: space-between; 
        .page_desc{
            width: 60%;
            font-size: 1vw;
            span{
                font-weight: bold;
                padding: 0 2% 0 0;
            }
        }
        .page_steck{
            text-align: right;
            width: 40%;
            font-size: 1vw;
        }
    }
    .page_content{
        width: 65%;
        margin: 2% auto 1% auto;
        img{
            border: #2277ae 1px solid;
            margin: 0 auto 1% auto;
            width: 100%;
        }
    }
}


#first_page_bg_single{ width: 100%; height: 195px; background: #2277ae; padding:0px 0 0 0; overflow: hidden;}
.bg_page_insaide_page{width: 100%; background: url("img/pattop1.png") repeat-x; height: 230px; position: relative; z-index:5;}
.deltatop_page_page{width: 100%; background: url("img/deltatop.png") repeat-x; height: 14px; position: relative; z-index: 20; margin: -13px 0 0 0;}
#content_page{
    max-width: 1200px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.content_pageh1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color:#303440;
    text-decoration: underline;
    padding: 40px 0 10px 0;
}
#content_page img{
    width: 100%;
    height: auto;
}
/*Page end*/
.order_site{float: right; margin: 15px 0 0 20px; width: 178px; height: 30px; border: 1px solid #6ca6cd; text-align: center; color: #ffffff; padding: 10px 0 0 0; font-size: 14px; box-shadow: 9px 8px 4px -7px #2277ae; }
.order_site:hover{background: #0298cc; cursor: pointer;}
.company_name{
    color: #ffffff;
    font-size: 45px;
    margin: -10px 0 0 15px;
}
.company_name a{color: #FFFFFF;}
.company_name a:hover{color: #FFFFFF; text-decoration: none;}
.logo_border{
    width: 1px; height: 50px; background: #FFFFFF; margin: 0 10px 0 25px;
}
.content_description{
    max-width: 750px;
    height: 60px;
    float: left;
    font-size: 14px;
    color: #303440;
    margin: 0 0px 0 0;
}
.tools{ font-size: 15px; color: #303440; padding: 0 0 0 0px; }
.content_link{font-size: 15px; color: #303440; margin:0px 0 20px 0;}
.content_link a{color: #303440; text-decoration: underline;}
.content_link a:hover{text-decoration: none;}
.content_text{
    width: 80%;
    background: #fff;
    border: 1px solid #59759b;
    overflow: hidden;
    margin: 0 auto 0 auto;
}
.content_text img{
    width: 100%!important;
    height: 50%!important;
}
.web_line{ background:url("img/web_line.jpg")no-repeat;  display: inline-block; height: 69px; max-width: 1150px; margin: 0 0 -5px 0; border-right: 1px solid #59759b; border-left: 1px solid #59759b; border-top: 1px solid #59759b;}
.content_url{float: left; margin: 40px 0 0 160px;}
.content_url a{color: #585353;}
/*Links end*/
.flex-container {
    display: flex;
    flex-direction:  row-reverse;
}
/*Top Menu*/
.heder_menu{
    display: flex;
}
.top_menu{
    margin: 20px 0;
    display: flex;
    flex-direction:row;
}
/*Page bg*/
.page_bg{
    margin: -10px auto 0 auto;
}
.bg_page_insaide{width: 100%; background: url("img/pattop.png") repeat-x;  position: relative; z-index:5; background-position: bottom;
    display: flex;
    flex-direction: column;
}
.bg_page_insaide_single{width: 100%; margin: 15px 0 0 0; background: url("img/pattop.png") repeat-x; height: 130px; position: relative; z-index:5;}
.deltatop_page{width: 100%; background: url("img/deltatop.png") repeat-x; height: 14px; position: relative; z-index: 20; margin: -14px 0 0 0;}
/*Page bg end*/

/*About me*/
#about_me{
    width: 85%;
    margin:  1% auto 0% auto;
    h1{
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 auto 2% auto;
        font-weight: bold;
        position: relative;
        border-bottom: 2px solid #6dcff6;
        width: 160px;
        padding: 0 0 10px 0;
    }
    .about_me_content{
    display: inline-block;
    height: 40%!important;

        p{
            box-sizing: border-box;
            font-size: 20px "Roboto";
            line-height: 25px;
            color: #303440; margin: 1% 0 1% 0;
        }
        img{
            // width: 30%;
            padding: 0 5% 0 5%;
            margin: 0 0 0% 0;

        }
    }
}
/*About me end*/

/*My Service*/
#my_service_bg{
    height: 100%;
    background: url("img/bgdelta.png") repeat-x;
    h3{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #303440;
        width: 200px;
        text-align: center;
        margin: 20px auto 20px auto;
        border-bottom: 2px #000000 solid;
        padding: 0 0 10px 0;
    }
    .my_service_line_top{
        width: 100%;
        height: 14px;
        background: url("img/deltabottom.png") repeat-x;
    }
    .my_service_line_bottom{
        width: 100%;
        height: 14px;
        background: url("img/deltatop.png") repeat-x;
    }
    #my_service{
        width: 90%;
        margin: 0px auto 1% auto;
        display: flex;       
        div{     
            width: 30%;
            .text_img{
              width: 30%;
              margin: 0 auto 0 auto;
              img{
                 width: 100%;
              }
            }
            .text_1{
                width: 100%;
                padding: 4% 1% 0 1%;
                font-size: 15px;
            }
            .text_2{
                width: 100%;
                padding: 0 5% 0 5%;
                color:#a4a4a4;
                font-size: 15px;
            }
        }
    }
}
/*My service end*/

/*Portfolio*/
.portfolioh3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #6dcff6;
    width: 230px;
    margin: 60px auto 40px auto;
    padding: 0 0 5px 0;
}
#portfolio{
    max-width: 1900px;
    margin: 0 auto 3% auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    // height: 350px;
   
    .portfolioblock{
        border: 1px solid #bfd2e1;
        width: 368px;
        margin: 10px;
        box-shadow: 5px 5px 4px -5px #000000;
        height: 276px;
        img{
            width: 100%;
            margin: -5px 0 0px 0;
            display: inline-block;
        }
        .port_img{height: 220px;}
    }
    .p_name{
        background:#2d7eb2;
        text-align: center;
        height: 25px;
        opacity: 0.8;
        padding: 10px 20px;
        margin: -5px auto 0 auto;
        a{
            font-size: 20px;
            color: #ffffff;
        }
    }
    .p_name:hover{
        text-decoration: none;
    }
}
.spoilerOff{
    height: 305px;
    -webkit-transition: 2s;
    transition: 2s;
    overflow: hidden;
}
.spoilerOn{
    height: 700px;
    -webkit-transition: 2s;
    transition: 2s;
}
#openBoxSpoiler{
    width: 50px;
    height: 50px;
    background: #2d7eb2;
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto 2% auto;
    cursor: pointer;
    img{
        width: 50px;
    }
}
/*Portfolio end*/


/*Content blog*/
#content_blog{ max-width: 1200px;  margin: 0 auto 40px auto; min-height: 300px;}
/*Content blog end*/

/*I used*/
#my_skils_bg{
    position: relative;
    z-index: 2;
    width: 100%;
    // height: 10%;
    background: url("img/bgdelta.png") repeat-x;
    margin: 0 0 0px 0;
    .my_skils_line_top{
        width: 100%;
        height: 14px;
        background: url("img/deltabottom.png") repeat-x;
    }
    .my_skillsh3{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: #303440;
        width: 165px;
        text-align: center;
        margin: 2% auto 2% auto;
        border-bottom: 2px #000000 solid;
        padding: 0 0 10px 0;
    }
    #my_skils{
        max-width: 1300px;
        margin:1% auto 3% auto;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    .my_skils_line_bottom{
        width: 100%;
        height: 14px;
        background: url("img/deltatop.png") repeat-x;
    }
}




#my_skils div{ width: 140px; text-align: center; margin: 0 0 20px 18px;}
#my_skils div img{margin: 0 0 10px 0; width:40%;}
.about_me_img{}
.text_1{ text-align: center;}
.text_2{ text-align: center; margin: 10px 0 0 0; color:#a4a4a4; font-size: 13px;}
/*I used end*/

/*Portfolio*/
#contact_bg{
    background: #fff;
    z-index: 3;
    position: relative;
    padding: 5% 0 5% 0;
    .contactsh3{
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        position: relative;
        border-bottom: 2px solid #6dcff6;
        width: 170px;
        margin: 0px auto 3% auto;
        padding: 0 0 5px 0;
    }
    #contacts{
        position: relative;
        max-width: 1200px;
        margin: 0 auto 0px auto;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .formcont{ margin: 0 20px 0 0;}
    .formcont input{border: 1px solid #dddddd; margin: 10px 0 10px 0; width: 250px; height: 30px; color: #666666; padding: 0 0 0 10px;}
    .formcont textarea{border: 1px solid #dddddd; margin: 10px 0 10px 0; width: 410px; height: 70px; color: #666666; padding: 15px 0 0 10px;}
    .formcont button{ background:#0298cc; height: 40px; width: 180px; color: #ffffff; font-size: 18px; border: 1px solid #6ca6cd; cursor: pointer;}
    .formcont button:hover{ background:#2277ae;}
}

/*Portfolio end*/

/*Footer*/

#footer_bg{
    background: #2277ae; 
    width: 100%; 
    height: 100px; 
    margin: 0% 0 0 0; 
    position: relative;
    z-index: 3;
    #footer{
        max-width: 1200px;  
        margin: 10px auto 0px auto; 
        height: 50px;
    }
    .my_service_line_top{
        width: 100%;
        height: 14px;
        background: url("img/deltabottom.png") repeat-x;
    }
    .copyright{ color: #ffffff; margin: 25px 0 0 10px;}
.footermenu{ margin: 25px 0 0 0;}
.footermenu li{float: left; font-size: 14px; margin: 0 10px 0 10px; color: #ffffff; border-bottom: 1px solid #ffffff;}
.footermenu li:hover{border-bottom: 1px solid #2277ae;}
}


/*footer end*/
@media all and (max-width: 12100px) {

    .spoilerOn{
        height: 900px;
        -webkit-transition: 2s;
        transition: 2s;
    }
}
@media all and (max-width: 1600px) {

    .spoilerOn{
        height: 1150px;
        -webkit-transition: 2s;
        transition: 2s;
    }
}
@media all and (max-width: 1200px) {

    .spoilerOn{
        height: 1780px;
        -webkit-transition: 2s;
        transition: 2s;
    }
}
@media all and (max-width: 800px) {
    .spoilerOn{
        height:3020px;
        -webkit-transition: 2s;
        transition: 2s;
    }
}
@media all and (max-width: 900px) {
 
  
    menu{
        display: block!important;
        .logo{
            width: 60%;
           margin: 2% auto 2% auto;
        }
        .menu_heder{
            width: 90%!important;
            margin: 2% auto 4% auto;
            a{
                font-size: 2vw!important;
            }
           
        }
    }
    .social_link{
        display: none
    }
    .email_heder{
        display: none  
    }
    #my_service{
        width: 80%!important;
        flex-wrap: wrap;
        div{
             width: 290px!important;
            .text_img{
                width: 30%!important;
            }
        }
    }
    #about_me p img {
        width: 0%;
    }

    #my_skils div img {
        width: 0% !important;
    }

    #my_skils{
        justify-content: space-around!important;
    }
    #my_skils div{
        margin: 0 !important;
    }
    .top_menu{
        display: none!important;
    }
    .menu{
        margin: 10px 0 40px 0!important;
        justify-content: space-around !important;
    }
    #about_me p{
        padding: 0 30px 0 30px!important;
    }
}
@media all and (max-width: 750px) {
    #my_service{
        width: 98%!important;
        div{
            .text_img{
                display: none;
            }
        }
    }
}

@media all and (max-width: 690px) {
    #my_service{
        width: 60%!important;
   
        
    }
}
